/*
    Filename : app.css
    Author name: Gurleen Singh
    Website name: Portfolio
    Description: This is custom style sheet of the website
*/

body{
    background: url('/images/2.jpg') left top;
    background-attachment: fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}

/***** Navbar ******/

.navbar-default{
    background-color: rgba(0,0,0,0.75);
    background-image: none;
    border-color: transparent;
    border: none;
    width: 100%;
    top : 0;
    left : 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
    background-image: none;
    background-color: transparent;
    color: #e59c28;
}

.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: rgba(199, 129, 47, 0.50);
    background: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: rgba(199, 129, 47, 0.50);
    background: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: rgba(199, 129, 47, 0.25);
}

.navbar-default .navbar-toggle {
    border-color: rgba(199, 129, 47, 0.52);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(199, 129, 47, 0.52);
}

.navbar-brand{
    padding: 10px 10px;
}

/******Intro section*******/

.intro {
    min-height: 500px;
    margin-top: 150px;
}

.name {
    font-size: 40px;
    font-weight: 700;
}

.name span {
    color: orange;
}

.question {
    font-size: 40px;
    font-weight: 300;
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width:14.6em }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:14.6em }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

.name-tags { 
    margin-left: 30%;
    color: orange;
    font-size: 35px;
    font-weight: 300;
    margin-top: 30px;
    width:14.6em;
    white-space:nowrap;
    overflow:hidden!important;
    border-right: .1em solid orange;
    
    -webkit-animation: typing 7s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 7s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}

.scroll{
    margin-top: 100px;
}

.scroll i {
    font-size: 60px;
    color:#fff;
}

/******About Me********/
.about {
    background-color: #e7e7e7;
    margin-left: 0;
    margin-right: 0;
    width: 100%; 
    color: #333; 
    padding-top: 40px;
    padding-bottom: 40px;
}

#about {
    min-height: 400px;
    padding: 80px 10px;
}

.about h1 {
    font-weight: 700;
}

/********Projects*******/

.projects{
    margin-top: 120px;
}

.projects h1 {
    margin-bottom: 60px;
}

.projects h1.row {
    margin-bottom: 20px;
}

.bx-wrapper {
    margin-left: 45px;
}
.sliderbtn {
    position: fixed;
    top: 60%;
    left: 50%;
}

/********Services********/
.services {
    margin-top: 120px;
}

.item {
    padding-top: 40px;
    padding-bottom: 40px;
}

.items-heading {
    margin-bottom: 50px;
}

/********Footer***********/
.footer {
    background-color: rgba(0,0,0,0.75);
    position: relative;
    bottom: 0;
    width: 100%;
}

.social {
    margin-top: 30px;
}

.social li{
    display: inline;
    padding: 0 15px;
    font-size: 2em;
}

.social li a {
    color: #fff;
}

.social li a:hover {
    color: orange;
}

.copyright {
    margin-top: 30px;
    margin-bottom: 20px;
}

/********Contact - page***********/

.contact {
    margin-top: 100px;
    margin-bottom: 200px;
}

.heading {
    color: orange;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: orange;
}

.btn {
    background-image: none;
    border: solid 1px orange;
    background-color: orange;
}

.btn:hover {
    background-image: none;
    border: solid 1px orange;
    background-color: #fff;
    color:orange;
}

.form-control:focus {
    border-color: orange;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(240, 173, 78, 0.6);
}

/***** Media Screens******/

@media(max-width: 767px){
    .navbar-default .navbar-collapse{
        border-color: rgba(199, 129, 47, 0.52);
        background-color: rgba(199, 129, 47, 0.52);
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{
    color: rgba(255,255,255,0.50);
    background-color: rgba(199,129,47,1);
    }

    .navbar-default .navbar-nav>.active>a:hover{
        color: #333;
        background-color: rgba(199,129,47,1);
    }
}

@media(max-width: 550px){
    .name-tags{
        display: none;
    }   
}